body {
    background-color: #130f30;
    color: rgb(146, 94, 199);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.jumbotron {
    background-image: url("../images/maxresdefault_new.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}  
.jumbotron h1{
	color:#12031b;
}
.jumbotron h2{
	color:#240e20;
}

.well{
    background:#130f30
}
.panel-body h6{
     color: #130f30 !important;
}
.panel-primary>.panel-heading {
    background: #130f30;

}
.panel-primary{
border-color: rgb(146, 94, 199);
}